body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mu2-todo {
    width: 95%;
    min-height: 500px;
    background-color: #3ABEF9;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px 10px 20px 10px;
}

/* Task input */
.mu2-input {
    padding-bottom: 20px;
}

#task-input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #A7E6FF;
}

#add-task-btn {
    background-color: #1679AB;
    color: #000;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Tasks */
.mu2-tasks {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    min-height: 320px;

}

.mu2-Add-task,
.mu2-Finish-task {
    border: 2px solid black;
    border-radius: 5px;
    width: 45%;
    padding: 10px;
}

#task-list,
#task-finish-list {
    padding: 0;
    margin: 0;
    text-align: left;

}

#task-list li,
#task-finish-list li {
    padding: 5px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.mu2-content {
    flex-basis: 430px;
    text-align: left;
}

.mu2-content::before {
    list-style-type: disc;
}

#task-finish-list .mu2-content {
    flex-basis: 530px;
}

.complete-btn,
.delete-btn,
.delete-btn1 {
    color: #000;
    font-weight: bolder;
    padding: 5px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

li .complete-btn {
    background-color: #28a745;
}

li .delete-btn,
.delete-btn1 {
    background-color: #dc3545;
}

#task-finish-list .mu2-content {
    text-decoration: line-through;
}

#task-finish-list .delete-btn,
#task-finish-list .date1 {
    display: none;
}

.date,
.date1 {
    font-size: 12px;
    opacity: 0.8;
    text-align: right;
}

h2 {
    text-decoration: underline;
}

/* Media Query */
@media screen and (max-width:768px) {
    .mu2-tasks {
        display: block;
    }

    .mu2-Add-task,
    .mu2-Finish-task {
        width: 95%;
        margin-bottom: 10px;
    }

    .mu2-content {
        flex-basis: 500px;

    }

    #task-list li,
    #task-finish-list li {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .date,
    .date1 {
        flex-basis: 500px;
    }
}