* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #04e762;
}

.navbar-list,
.navbar-link {
    display: flex;
    column-gap: 20px;
}

.navbar-link>a {
    text-decoration: none;
    color: #1d232c;
}

.navbar-link>a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #1d232c;
}

.nav-font {
    display: none;
}

/* Side navbar */
.side-navbar {
    background-color: #04e762;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -68%;
    padding: 10px;
    color: #1d232c;
    z-index: 1;
    transition: 2s;
}

.side-navbar>p {
    text-align: right;
}

.side-navbar>img {
    border-radius: 50%;
    outline: 2px solid #1d232c;
}

.side-navbar>img:hover {
    width: 150px;
}

.navbar-ul {
    list-style-type: none;
    margin-left: 10%;
}

.side-navbar-link {
    margin-top: 30px;
}

.side-navbar-link>a {
    text-decoration: none;
    color: #1d232c;
}

.side-navbar-link>a:hover {
    font-weight: bold;
    color: #1d232c;
}

hr {
    color: #1d232c;
}

/* Home */
#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.home-mu2 {
    font-size: 50px;
}

.home-title:hover {
    filter: drop-shadow(10px 7px 10px #04e762);
}

.home-dev {
    display: flex;
    align-items: center;
}

.home-dev>img {
    margin-left: 10px;
}

.mu2-resume>a {
    text-decoration: none;
    color: #1d232c;
    font-weight: bold;
}

.home-image > img:hover {
    filter: drop-shadow(10px 7px 10px #04e762);
}

/* Resume */
.mu2-resume {
    padding: 10px;
    margin: 20px;
    background-color: #04e762;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.mu2-resume:hover {
    background-color: #1d232c;
    border: 2px solid #04e762;
}

.mu2-resume:hover > a {
    color: #04e762;
}

/* About */
#about {
    background-color: #04e762;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.about-image {
    align-self: flex-end;
}

.about-image>img {
    width: 500px;
}

.about-image>img:hover {
    filter: drop-shadow(10px 7px 10px #000);
}

.about-summary {
    margin: 30px;
}

.mu2-summary {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 12px;
    text-align: justify;
}

.mu2-summary:hover {
    background-color: #1d232c;
    color: #fff;
}

.mu2-summary >p {
    text-indent: 50px;
}

.mu2-skill-edu {
    position: relative;
    left: 10%;
    text-align: left;
}

/* Projects */
#projects {
    background-color: gray;
    margin: 10px;
    padding: 30px;
}

.mu2-project {
    display: flex;
    justify-content: space-evenly;
}

.project {
    width: 300px;
    border: 2px solid #1d232c;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin: 10px;
}

.project>h3 {
    text-decoration: underline;
}

.project a {
    color: #1d232c;
    font-weight: bolder;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
    color: #fff;
}

.project:hover {
    background-color: #1d232c;
    color: #fff;
}

.project:hover a{
    color: #fff;
}

/* Contact */
#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #1d232c;
    color: #04e762;
}

.contact h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.icon-size {
    font-size: 1.25rem;
}

.contact ul {
    list-style: none;
    position: relative;
    left: 5%;
}

.contact li {
    padding: 5px;
}

.contact a, .contact span {
    color: #04e762;
    text-decoration: none;
    font-weight: bolder;
}

.contact a:hover {
    font-size: 20px;
}

#contact img:hover {
    filter: drop-shadow(10px 7px 10px #04e762);
}

/* Media Query */
@media screen and (max-width:768px) {
    .nav-font {
        display: block;
    }

    .navbar-link {
        display: none;
    }

    #home {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-mu2 {
        font-size: 30px;
    }

    .home-title {
        font-size: 20px;
    }

    .home-image>img {
        width: 300px;
    }

    .home-dev>img {
        width: 30px;
        height: 30px;
    }

    .about-image {
        display: none;
    }

    .about-summary {
        margin: 20px;

    }

    .mu2-project {
        flex-wrap: wrap;
    }

    #contact img {
        display: none;
    }
}

@media screen and (min-width:2000px) {
    #about {
        margin: 110px;
    }
}